.box {
    background-color:rgb(253, 255, 127);
    width: 300pt;
    border-top-width: 4px;
    border-top-style: solid;
    border-top-color:cornflowerblue;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-bottom-color:cornflowerblue;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-left-width: 4px;
    border-left-style: solid;
    border-left-color:cornflowerblue;
    border-right-width: 4px;
    border-right-style: solid;
    border-right-color:cornflowerblue;
    margin: auto;
    text-align: center;
    
}

h1 {
    color:hsl(240, 100%, 50%);
}

h2 {
    background-color:#FDFF7F;
    color:hsl(0, 100%, 50%);
    width: 29vw;
    height: 7vmax;
    display: inline;
}

h3 {
    margin-left: 20px;
}

.att {
    background-color:aqua;
    width: 15pc;
    text-decoration: underline;
    display: block;
}

.pic {
    border: 4px solid cornflowerblue;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 93px;
    padding-right: 90px;
}

.rt {
    padding: 10px 475px 10px 0.5px;
}

.clip {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 100px;
    margin-right: 20px;
}

.aud {
    margin: 20px 20px 20px 20px;
}

main {
    font-size: 1.1em;
}
