/*Adding external font to the html*/

@font-face {
    font-family: "myFont";
    src: url(Silkscreen-Regular.ttf);
}

* {
    font-family: myFont;
}

/*Creating the box for the title*/
/*Includes color, borders, margins, tex alignment, and positioning*/
.box {
    background-color:#FDFF7F;
    max-width: 300pt;
    min-width: 200pt;
    border-top-width: 4px;
    border-top-style: solid;
    border-top-color:cornflowerblue;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-bottom-color:cornflowerblue;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-left-width: 4px;
    border-left-style: solid;
    border-left-color:cornflowerblue;
    border-right-width: 4px;
    border-right-style: solid;
    border-right-color:cornflowerblue;
    margin: auto;
    text-align: center;
    position: static; 
}

/*Grid for the student roles*/
.grid {
    display: grid;
    grid-template-columns: auto auto;
    gap: 2px;
    background-color:black;
    padding: 2px;
}

.grid > div {
    background-color:#ffffff;
    text-align: center;
    padding: 20px 0;
    font-size: 20px;
}

/*Flexbox for meeting links*/
.flex {
    display: flex;
    background-color:#FDFF7F;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-right: 600px;
    justify-content: center;
}

.flex>div {
    background-color: #f1f1f1;
    width: 300px;
    margin: 10px;
    text-align: center;
    line-height: 20px;
    font-size: 15px;
    padding-right: 4px;
}

/*Types of CSS Selectors*/
/*Used CSS Selectors for styling the boxes, color, text decoraction, alignment, and font color or the subtitles*/
h1, h2 {
    color:hsl(240, 100%, 50%);
}

div > h2 {
    background-color:#FDFF7F;
    width: 29vw;
    height: 7vmax;
    display: inline;
}

div ~ h2 {
    background-color:#FDFF7F;
    width: 29vw;
    height: 7vmax;
    display: inline;
}

div + h5 {
    text-decoration: underline overline;
}

p.bold {
    font-weight: bold;
}

h3 {
    margin-left: 20px;
}

a[target=_link] {
    background-color:#FDFF7F;
}

#meet {
    background-color:#FDFF7F;
    width: 29vw;
    height: 7vmax;
    display: inline;
}

#att {
    background-color:#FDFF7F;
    width: 15pc;
    text-decoration: underline;
    display: block;
}

.grid div {
    font-weight: bold;
}

.pic {
    border: 4px solid cornflowerblue;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 93px;
    padding-right: 90px;
    position: relative;
}

.rt {
    padding: 10px 475px 10px 0.5px;
}

.clip {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 100px;
    margin-right: 20px;
}

.aud {
    margin: 20px 20px 20px 20px;
}

button:hover {
    color: blue;
    cursor: pointer;
}

button:active{
    box-shadow: 2px 2px 5px #4dd3fc;
}

/*Changing font size for the main portion of the website*/
main {
    font-size: 1.1em;
}

/*Website background color*/
body {
    background-color: rgb(90, 162, 230);
}

/*Testing out media query*/
/*If site shrinks to a certain size, the background color turns white*/
@media screen and (max-width: 600px) {
    body {
      background-color: rgb(255, 255, 255);
    }
  }